$wild-sand-color: #f7f7f7;
$mine-shaft-color: #292929;
$white-color: #fff;
$persian-red-color: #ce4933;
$chambray-color: #3b5998;
$valencia-color: #dc4e41;
$viking-color: #6faedc;
$studio-color: #9643b5;
$crimson-color: #ee1c1b;
$mojo-color: #ce4e33;
$deep-koamaru-color: #11326f;
$kashmir-blue-color: #4f6794;
$tuscany-color: #d06433;
$cumin-color: #9e4923;
$cod-gray-color: #141414;
$black-color: #000;
$dove-gray-color: #666;
$gallery-color: #eee;
