# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rails secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: b2398b58d05371f0af5c62075a3560da36895d225b6df4a65292c1bca2c2610983570684b8b48e66969fbe22df0611edde807fafd7e3eb0810be685819b1a3e3

test:
  secret_key_base: 48f823268c6b123c504e8e5e8494dfaab689a94c72ef89492b486b42a7ee4a666e53abcb943717857303a500bbd914404a7cd588777de34d1de64262ebfe59d2

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
