@import url('https://fonts.googleapis.com/css?family=Roboto');
@import 'bootstrap-sass/assets/stylesheets/bootstrap-sprockets';
@import 'bootstrap-sass/assets/stylesheets/bootstrap';
@import 'config/color_var';

html {
  position: relative;
  min-height: 100%;
}

body {
  background-color: $wild-sand-color;
  color: $dove-gray-color;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  line-height: 20px;
  margin-bottom: 100px;
}

header {
  background-color: $mine-shaft-color;
  color: $white-color;

  .navbar {
    border: inherit;
    border-radius: 0;
    margin-bottom: 0;
  }

  #logo {
    padding-top: 5px;
  }

  .navbar-default {
    background-color: $mine-shaft-color;
    color: $white-color;

    .navbar-nav {
      .open {
        a {

          &:focus {
            background-color: $mine-shaft-color;
            color: $white-color;
          }

          &:hover {
            background-color: $mine-shaft-color;
            color: $white-color;
          }
        }
      }

      li {

        a {
          color: $white-color;
          font-size: 16px;
          font-weight: bold;

          &:hover {
            color: $white-color;
          }
        }

        .dropdown-menu {
          background-color: $mine-shaft-color;
          color: $white-color;
        }

        .social {
          list-style-type: none;
          margin: 0;
          overflow: hidden;
          padding: 0;
          padding-bottom: 15px;
          padding-top: 10px;

          li {
            float: left;
            margin-right: 10px;

            a {
              border-radius: 50%;
              color: $white-color;
              display: inline-block;
              height: 26px;
              line-height: 22px;
              text-align: center;
              vertical-align: 2px;
              width: 26px;

              i {
                padding-top: 5px;
              }
            }

            .icon-facebook {
              background: $chambray-color;
            }

            .icon-google {
              background-color: $valencia-color;
            }

            .icon-twitter {
              background-color: $viking-color;
            }

            .icon-instagram {
              background-color: $studio-color;
            }

            .icon-youtube {
              background-color: $crimson-color;
            }
          }
        }

        .btn-login {
          background: $mojo-color;
          border-radius: 4px;
          margin-right: 15px;
          margin-top: 5px;
          padding: 10px;

          i {
            margin-right: 6px;
          }
        }
      }
    }
  }
}

footer {
  background-color: $mine-shaft-color;
  bottom: 0;
  padding-bottom: 50px;
  padding-top: 50px;
  position: absolute;
  height: 60px;
  width: 100%;

  .copyright {
    text-align: center;

    p {
      color: $white-color;
    }
  }
}

.header-main {

  .search-container {
    margin-top: 100px;

    .box-search {
      background-color: $deep-koamaru-color;
      border-radius: 4px;
      min-height: 200px;
      padding-top: 34px;

      .category-list {
        margin-top: 30px;

        ul {
          list-style-type: none;
          margin: 0;
          padding-left: 0;

          li {
            display: inline-block;
            margin-right: 10px;

            a {
              background-color: $kashmir-blue-color;
              color: $white-color;
            }
          }
        }
      }
    }

    .search-btn {
      min-height: 34px;
    }

    .box-register {
      background-color: $tuscany-color;
      border-radius: 4px;
      color: $white-color;
      min-height: 200px;
      padding: 10px;

      .box-btn-register {
        background-color: $white-color;
        color: $cod-gray-color;
      }

      .box-btn-login {
        background-color: $cumin-color;
        color: $white-color;
        margin-left: 10px;
      }
    }
  }
}

.words-list {
  background-color: $gallery-color;
  border-radius: 4px;
  margin-bottom: 20px;
  margin-top: 20px;

  ul {
    list-style-type: none;
    margin: 0;
    padding-left: 0;

    li {
      padding-bottom: 10px;
      padding-top: 10px;
      font-size: 20px;
    }
  }

  .words-list-content {

    h3 {
      font-weight: bold;
      text-align: center;
    }
  }
}

.word-details-type {

  hr {
    border-top: 1px solid $cod-gray-color;
    margin-top: 5px;
  }

  span {
   font-weight: bold;
  }
}

.dic_head {
  margin-top: 50px;

  .dic_head_text {
    font-weight: bold;
  }
}

.form_header {
  margin-top: 50px;
}

.form_body {
  margin-top: 30px;
}

.dic_row {
  margin-top: 20px;
}

.dic_edit_form_row {
  margin-top: 20px;

  form {
    margin-top: 30px;

    button {
      margin-left: 10px;
    }
  }
}

.organizations-container {

  h3 {
    text-align: center;
    font-weight: bold;
  }
}

.btn-round {
  width: 20px;
  height: 20px;
  padding: 0px;
}

.action {

  a {
    margin-right: 5px;
  }
}

.organizations-action {
  margin-bottom: 20px;
}

.error {
  color: red;
  font-size: 85%;
  font-style: italic;
  font-weight: normal;
}


.dictionaries-action {
  margin-bottom: 20px;
}

#error_explanation {

  h2 {
    display: none;
    font-size: 16px;
    font-weight: bold;
  }

  ul {

    li {
      color: red;
      font-style: italic;
      font-weight: 300;
    }
  }
}

.require {
  color: red;
  font-style: italic;
  font-weight: 300;
}

.login-btn-register {
  margin-left: 20px;
}
