<div class="header-banner" data-stellar-background-ratio="0.5">
  <div class="slidersection">
    <div class="overlay">
      <div class="center fixed-content">
        <div class="center-fix">
          <h1 class="underline animated fadeInDown">
            <%#= t "working_space" %>
          </h1>
          <h4 class="animated fadeInUp delay-05s margin-bottom-50">
            <%= t "an_exclusive_management_working_space_by" %>
            <strong class="green"><%#= t "education_framgia" %></strong>
          </h4>
          <%#= link_to t("sign_in"), new_user_session_path,
            class: "button animated fadeInUp delay-1s margin_right_20" %>
<!--           < link_to t("sign_up"), new_user_registration_path,
            class: "button border animated fadeInUp delay-1s" > -->
        </div>
      </div>
    </div>
  </div>
</div>
